




<h3>Sign Up</h3>
<form action="/users" method="POST" class="signup-form">
  <p>Email: <input type="text" name="email" id="email"/></p>
  <p>Password: <input type="password" name="password" id="password"/></p>
  <input class="btn btn-primary" type="submit">
</form>