<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Esports</h2>

    <div class="content">
      <p>Welcome to Esports</p>
      <span>Please sign in!</span>
    </div>

    <div class="sidebar">
      
    </div>

  </div>
</div>
