<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <img src="/images/Esports-small.png" class="welcome-image">

    <div class="row">

      <div class="col"> 

          <div class="card"> 
            <p class="greeting">Welcome to Esports</p>

        
        
         </div>
      
      
      </div>

  <div class="main-card">
     <p>Please sign in!</p>
   <form class="main-card-form"action="/login" method="POST">
       <p>Email: <input type="text" name="email" id="email"/></p>
       <p>Password: <input type="password" name="password" id="password"/></p>
       <input class="btn btn-primary" type="submit" value="Login">
     </form>
    </div>
        </div>
      </div>

      <div class="container">
  <a href="#" class="button blue">Create Account</a>
</div>
